@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.left-side_content {
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(330deg, #11998e 0%, #38ef7d 100%);
}
.current-date {
  color: white;
  font-family: "Comfortaa", cursive;
}
.tools_bar {
  height: 40px;
  display: flex;
}
.temperature {
  justify-content: flex-end;
}
.temperature_round {
  position: relative;
  font-size: 70px;
  margin-top: -60px;
}
.temperature_value {
  display: flex;
  font-size: 170px;
  line-height: 170px;
  color: white;
  font-family: "Comfortaa", cursive;
}
.current_location {
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 25px;
  line-height: 20px;
}
.temperature_description {
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  line-height: 12px;
  text-transform: capitalize;
}
.sunrise_and_sunset {
  border-radius: 10px;
}
.weather-property_title {
  font-family: "Comfortaa", cursive;
  color: white;
}
.weather-property_value {
  font-family: "Comfortaa", cursive;
  color: white;
}
@media only screen and (min-width: 1600px) {
  .left-side_content {
    padding: 30px;
  }
}

@media only screen and (max-width: 1600px) {
  .left-side_content {
    padding: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .left-side_content {
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .left-side_content {
    padding: 20px;
  }
}
