@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.left-side_container {
  height: 100vh;
  display: flex;
  background: linear-gradient(330deg, #11998e 0%, #38ef7d 100%);
  flex-direction: column;
  justify-content: space-between;
}
.current-date {
  color: white;
  font-family: "Comfortaa", cursive;
}

@media only screen and (min-width: 1600px) {
  .left-side_container {
    padding: 60px;
  }
}

@media only screen and (max-width: 1600px) {
  .left-side_container {
    padding: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .left-side_container {
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .left-side_container {
    padding: 20px;
  }
}
