.sunrise_and_sunset_left {
  display: flex;
  width: max-content;
  min-width: 210px;
  padding: 10px;
  height: max-content;
  justify-content: space-between;
}
.weather-property_left-container {
  display: flex;
}
.weather-property_title {
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  color: white;
}
.weather-property_value {
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  color: #cccccc !important;
}
.weather-property_icon {
  margin-top: -3px;
}
.weather-property_additional {
  font-size: 20px;
  align-self: flex-start;
  line-height: 20px;
  color: white;
  text-transform: capitalize;
}
@media only screen and (max-height: 757px) {
  .sunrise_and_sunset_left {
    width: 50%;
  }
  .weather-property_title {
    font-size: 15px;
  }
  .weather-property_value {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1280px) {
  .sunrise_and_sunset_left {
    width: max-content;
    min-width: 200px;
  }
}
@media only screen and (min-width: 1600px) {
  .weather-property_title {
    font-size: 20px;
  }
  .weather-property_value {
    font-size: 15px;
  }
  .sunrise_and_sunset_left {
    width: 100%;
  }
}
@media only screen and (min-width: 1920px) {
  .weather-property_title {
    font-size: 20px;
  }
  .weather-property_value {
    font-size: 15px;
  }
  .sunrise_and_sunset_left {
    width: 100%;
  }
}
@media only screen and (min-width: 2560px) {
  .weather-property_title {
    font-size: 20px;
  }
  .weather-property_value {
    font-size: 15px;
  }
  .sunrise_and_sunset_left {
    width: 100%;
  }
}
