@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.right-side_chart {
  height: 300px;
  padding: 0 10px 0 15px;
  border-radius: 10px;
  background-color: #2dd881;
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(70px);
}
.right-side_detail {
  height: 300px;
  border-radius: 10px;
  background-color: #2dd881;
  overflow: auto;
}
