@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root {
  --green: #2dd881;
  --grey: #3232327c;
}

.right-side_chart {
  height: 300px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: var(--grey);
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(70px);
}
.right-side_detail {
  height: 300px;
  border-radius: 10px;
  background-color: var(--grey);
  /* background-color: var(--green); */
  overflow-y: scroll;
}
.right-side_detail::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
.right-side_detail::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.right-side_detail:hover::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}
.right-side_detail:hover::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: white;
}
.right-side_detail::-webkit-scrollbar-track {
  background-color: #273e38;
  /* background-color: var(--green); */
}
