.input {
  height: 70%;
  width: 100%;
  border-radius: 6px;
  padding: 0 5px;
  border: 1px solid #999;
  outline: none;
  font-size: 14px;
  font-family: Comfortaa, cursive;
  color: #666;
}

.input:active {
  border: none;
}
